.game-container {
  width: 95%;
}

.btn {
  font-size: 75%;
  font-weight: 700;
  padding: 1rem;
}

.boxes-container {
  width: 90%;
}

.box-container {
  padding: 0.12rem;
}

.box {
  width: 100%;
  padding-top: 100%;
  border-radius: 5%;
  cursor: pointer;
}

@media (min-width: 380px) {
  .boxes-container {
    width: 80%;
  }

  .box-container {
    padding: 0.25rem;
  }
}

@media (min-width: 576px) {
  .game-container {
    width: 50%;
  }
  .lifes-container,
  .time-container,
  .points-container {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.25rem;
  }

  .boxes-container {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .lifes-container,
  .time-container,
  .points-container {
    font-size: 2rem;
  }
  .btn {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {}